@{
    ViewData["Title"] = "Order Confirmation";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Order Confirmation</h3>

    <h3>Thank you for your purchase</h3>
</div>

<a href="/Home/Index" class="btn btn-primary">Go Back to Home</a>
